name: Auto export & Release

on:
  push:
    branches: [ "prod" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Add permssion
        run: chmod u+x ./packwiz
      - name: Export Modrinth pack
        run: ./packwiz mr export
      - name: Export CurseForge pack
        run: ./packwiz cf export
      - name: Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          title: "Release"
          automatic_release_tag: "release"
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          files: "./Nostal's Optimization Pack-1.0.0.*"
          prerelease: false
      
